body
    background-color: rgb(0, 0, 0)

h2
    //text-align: center
    color: blue
    margin-bottom: 20px

.form
    //background-color: grey
    width: 200px
    .field
        display: inline-block
        margin-bottom: 10px
        //background-color: orange
    .field label
            display: block


.resumen
    p
        color: white


h3
    color: green

.item
    p
        margin-right: 20px

.ingreso
    color: green
    

.egreso
    color: red

label
    color: white


.check
    display: inline-block

.checkboxs
    display: flex
    margin-top: 20px
    //margin-bottom: 10px
    button
        display: inline-block
        cursor: pointer
        width: 100px
    .selected
        color: white
    .ingreso
        background-color: green
    .egreso
        background-color: red

