body
    background-color #FFF5E5

footer
    background-color #F01815
    height: 100px


nav
    background-color #F01815
    padding 10px
    margin-bottom 10px
    color: white
    align-items: center
    justify-content: center
    //shadow
    box-shadow: 0 0 10px 0 black
    img
        width: 100px
        height: 100px
        //rounded image
        border-radius: 50%
        //shadow
        box-shadow: 0 0 10px 0 black
    //display: flex

.nav-center
    //background-color: blue
    display: flex
    align-items: center
    justify-content: center
    padding: 10px
    margin-top: 10px
    width: 30%
    align-self: center
    justify-content: space-between
    label
        width 33%
        //margin-right: 10px
        color: white
        font-size: 20px
        font-weight: bold
        //add pointer
        cursor: pointer

.row-lists
    button
        background-color: #F01815
        color: white
        border: none
        padding: 10px
        margin: 10px
        font-size: 20px
        font-weight: bold
        cursor: pointer
        //shadow
        box-shadow: 0 0 10px 0 black
        //rounded button
        border-radius: 10px
        //hover
        &:hover
            background-color: green
            //color: black
        //active
        &:active
            background-color: green
            //color: black
            //color: black
        //focus
        &:focus
            background-color: green
            //color: black
            //color: black
        //disabled
        &:disabled
            background-color: green
            //color: black
            //color: black
            //cursor: not-allowed

.body-content
    background-color: orange
    //padding: 10px
    //all viewports
    width: 100%
    //all viewports
    height: 75vh
    display: flex

    .body-block
        width 50%
        &.left
            background-color: #F01815
            //padding: 10px
            //all viewports
            width: 50%
            //all viewports
            height: 100%
            //display: flex
            align-items: center
            justify-content: center
            //shadow
            box-shadow: 0 0 10px 0 black
            //rounded block
            border-radius: 10px
            overflow-y: auto; /* Agrega scroll vertical cuando sea necesario */

        &.rigth
            background-color: green
            //padding: 10px
            //all viewports
            width: 50%
            //all viewports
            height: 20vh
            //display: flex
            align-items: flex-end
            justify-content: end    
            //shadow
            box-shadow: 0 0 10px 0 black
            //rounded block
            border-radius: 10px


.products-list
    display: flex
    justify-content: space-evenly
    background-color: blue
    padding: 20px
    flex-wrap: wrap; /* Esto permite que los elementos pasen a la siguiente línea */
    flex-direction: row; 
    .product
        background-color: yellow
        width: 30%
        margin: 10px