body {
  background-color: #000;
}
h1 {
  color: #fff;
  font-family: 'Roboto', sans-serif;
}
h2 {
  color: #fff;
  margin-bottom: 20px;
}
h3 {
  color: #f00;
}
.card {
  border-radius: 20px;
  background: linear-gradient(45deg, #7a00ff, #ff00e0);
  padding: 20px;
  margin: 20px;
  box-shadow: 5px 5px 15px #ccc;
  width: 450px;
  height: 210px;
}
.card .balances {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0;
}
.card .balances p {
  color: #fff;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
.card .balances img {
  width: 90px;
  height: 50px;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0;
}
.row p {
  color: #fff;
  font-size: 50px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
.row img {
  width: 90px;
  height: 50px;
}
.footer {
  justify-content: space-between;
  margin: 20px 0;
}
.footer p {
  color: #fff;
  font-size: 20px;
  margin: 0 0 10px 0;
  font-family: 'Roboto', sans-serif;
}
.form {
  width: 500px;
  border: 1px solid #ccc;
  padding: 20px;
}
.form .field {
  display: inline-block;
  margin-bottom: 10px;
}
.form .field label {
  display: block;
}
.resumen p {
  color: #fff;
}
.item {
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 500px;
  justify-content: space-between;
  margin: 30px 10px;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 15px #ccc;
}
.item p {
  margin-right: 20px;
  flex: 1;
}
.item .description {
  flex: 2;
}
.ingreso {
  color: #fff;
  background-color: rgba(0,128,0,0.431);
}
.egreso {
  color: #fff;
  background-color: rgba(254,4,4,0.435);
}
label {
  color: #fff;
}
.check {
  display: inline-block;
}
.checkboxs {
  display: flex;
  margin-top: 20px;
}
.checkboxs button {
  display: inline-block;
  cursor: pointer;
  width: 100px;
}
.checkboxs .selected {
  color: #fff;
}
.checkboxs .ingreso {
  background-color: #008000;
}
.checkboxs .egreso {
  background-color: #f00;
}
@media (max-width: 600px) {
  .card {
    width: 80%;
  }
  .form {
    width: 100%;
  }
  .field {
    width: 100%;
  }
  .item {
    width: 80%;
    margin: 0 auto;
  }
}

