body {
  background-color: #000;
}
h1 {
  text-align: center;
}
.login-contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 10px;
}
.login-contenido-recuadro {
  width: 100%;
  max-width: 500px;
  border: 1px solid #008000;
}
.login-contenido .informacion {
  padding: 35px 38px;
}
.login-contenido .informacion h1 {
  text-align: center;
  color: #008000;
  margin-bottom: 20px;
}
.login-contenido .informacion .field {
  margin-bottom: 20px;
}
.login-contenido .informacion .field label {
  display: block;
  margin-bottom: 5px;
  color: #008000;
}
.login-contenido .informacion .field input {
  display: block;
  width: 100%;
  padding: 5px;
  border: 1px solid #008000;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
}
.login-contenido .informacion .field input:focus {
  outline: none;
  border-color: #09dc09;
}
.login-contenido .informacion .boton {
  padding: 15px 0;
  text-align: center;
  color: #f00;
}
.login-contenido .informacion .boton button {
  padding: 10px 20px;
  border: 1px solid #008000;
  border-radius: 5px;
  background-color: #000;
  color: #008000;
}
.login-contenido .informacion .boton button:focus {
  outline: none;
  border-color: #008000;
}
.login-contenido .informacion .boton button:hover {
  background-color: #008000;
  color: #000;
}
.login-contenido .informacion .boton button:active {
  background-color: #008000;
  color: #000;
}
.login-contenido .informacion .boton button:disabled {
  background-color: #ccc;
  color: #666;
  border-color: #ccc;
  cursor: not-allowed;
}

